In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools as it
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1754,tt0457433,60795000,73090611,Perfect Stranger,Halle Berry|Bruce Willis|Giovanni Ribisi|Richa...,James Foley,How Far Would You Go To Keep A Secret?,A journalist goes undercover to ferret out bus...,109,Crime|Drama|Mystery|Thriller,Columbia Pictures|Revolution Studios,4/12/2007,5.3,2007
1351,tt0366627,29000000,21126225,The Jacket,Adrien Brody|Keira Knightley|Kris Kristofferso...,John Maybury,Terror has a new name.,A military veteran goes on a journey into the ...,103,Drama|Mystery|Thriller|Fantasy,Section Eight|Mandalay Pictures|VIP 3 Medienfo...,3/4/2005,6.6,2005
1321,tt0351283,75000000,532680671,Madagascar,Ben Stiller|Chris Rock|David Schwimmer|Jada Pi...,Eric Darnell|Tom McGrath,It's All Some Type Of Whacked Out Conspiracy.,Zoo animals leave the comforts of man-made hab...,86,Family|Animation,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/25/2005,6.4,2005
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
788,tt1454029,25000000,124272124,The Help,Emma Stone|Viola Davis|Octavia Spencer|Bryce D...,Tate Taylor,Change begins with a whisper.,Aibileen Clark is a middle-aged African-Americ...,146,Drama,DreamWorks SKG|1492 Pictures|Participant Produ...,8/9/2011,7.6,2011

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

# Функция подсчёта количества слов в строке с заданным разделителем
def count_of(input_str, split_char, result_dict):
    """
    input_str: исходная строка
    split_char: символ-разделитель
    return: словарь, содержащий слова и их количество
    """
    split_str = input_str.split(split_char)
    for word in split_str:
        if word in result_dict:
            result_dict[word] += 1
        else:
            result_dict[word] = 1
    return result_dict

def sort_dict_values(dictionari):
    sorted_tuple = sorted(dictionari.items(), key=lambda x: x[1])
    return dict(sorted_tuple)

# Переводит дату выпуска фильма в формат datetime
data.release_date = pd.to_datetime(data.release_date)
# Прибыль/Убытки
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'    # +
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
max_budget_title = data.original_title[data.budget == data.budget.max()]
print(max_budget_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
max_budget_title = data.query(f'budget == {data.budget.max()}').original_title
print(max_budget_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'    # +

In [10]:
max_runtime_title = data.query(f'runtime == {data.runtime.max()}').original_title
print(max_runtime_title)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
min_runtime_title = data.query(f'runtime == {data.runtime.min()}').original_title
print(min_runtime_title)
answers['3'] = 'Winnie the Pooh (tt1449283)'    # +

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
print(round(data.runtime.mean()))
answers['4'] = '110'    # +

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
print(round(data.runtime.median()))
answers['5'] = '107'    # +

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit_title = data.query(f'profit == {data.profit.max()}').original_title
print(max_profit_title)
answers['6'] = 'Avatar (tt0499549)'    # +

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [15]:
min_profit_title = data.query(f'profit == {data.profit.min()}').original_title
print(min_profit_title)
answers['7'] = 'The Lone Ranger (tt1210819)'    # +

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
count_profit_title = data.query('profit > 0').count()[0]
print(count_profit_title)
answers['8'] = '1478'    # +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
year_2008 = data.query('release_year == 2008')
count_profit_title = year_2008.query(f'profit == {year_2008.profit.max()}').original_title
print(count_profit_title)
answers['9'] = 'The Dark Knight (tt0468569)'    # +

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
year_2012_2014 = data.query(f'release_year in {[i for i in range(2012, 2015)]}')
count_profit_title = year_2012_2014.query(f'profit == {year_2012_2014.profit.min()}').original_title
print(count_profit_title)
answers['10'] = 'The Lone Ranger (tt1210819)'    # +

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [19]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
count_of_genres = dict()
for i in data.genres:
    count_of(i, '|', count_of_genres)
count_of_genres = sort_dict_values(count_of_genres)
max_key = list(count_of_genres.keys())[-1]
display(max_key)
answers['11'] = 'Drama'    # +

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
profit_titles = data.query(f'profit > 0')
count_of_profit_genres = dict()
for i in profit_titles.genres:
    count_of(i, '|', count_of_profit_genres)
count_of_profit_genres = sort_dict_values(count_of_profit_genres)
max_profit_key = list(count_of_profit_genres.keys())[-1]
display(max_profit_key)
answers['12'] = 'Drama'    # +

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
data_13 = data.copy()
data_13.director = data_13.director.apply(lambda x: str(x).split('|'))
data_13 = data_13.explode('director')
display(data_13.groupby('director').revenue.sum().sort_values(ascending=False).index[0])
answers['13'] = 'Peter Jackson'    # +

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
data_14 = data.copy()
data_14 = data_14[data_14.genres.str.contains('Action')]
data_14.director = data_14.director.apply(lambda x: str(x).split('|'))
data_14 = data_14.explode('director')
display(data_14.director.value_counts().head(1))

answers['14'] = 'Robert Rodriguez'    # +

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
data_15 = data.copy()
data_15.cast = data_15.cast.apply(lambda x: str(x).split('|'))
data_15 = data_15.explode('cast')
data_15 = data_15.query('release_year == 2012')
display(data_15.groupby('cast').revenue.sum().sort_values(ascending=False).index[0])
answers['15'] = 'Chris Hemsworth'    # +

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
data_16 = data.copy()
mean_budget = round(data_16.budget.mean())
data_16 = data_16.query(f'budget > {mean_budget}')
data_16.cast = data_16.cast.apply(lambda x: str(x).split('|'))
data_16 = data_16.explode('cast')
display(data_16.cast.value_counts().index[0])

answers['16'] = 'Matt Damon'    # +

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
data_17 = data.copy()
data_17.cast = data_17.cast.apply(lambda x: str(x).split('|'))
data_17 = data_17.explode('cast')
data_17 = data_17.query('cast == "Nicolas Cage"')
data_17.genres = data_17.genres.apply(lambda x: str(x).split('|'))
data_17 = data_17.explode('genres')
display(data_17.genres.value_counts().index[0])

answers['17'] = 'Action'    # +

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
PP_production = data[data.production_companies.str.contains("Paramount Pictures")]
count_profit_title = PP_production.query(f'profit == {PP_production.profit.min()}').original_title
print(count_profit_title)
answers['18'] = 'K-19: The Widowmaker (tt0267626)'    # +

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
data_19 = data.copy()
display(data_19.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0])
answers['19'] = '2015'    # +

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
data_20 = data.copy()
data_20.production_companies = data_20.production_companies.apply(lambda x: str(x).split('|'))
data_20 = data_20.explode('production_companies')
data_20 = data_20[data_20.production_companies.str.contains("Warner Bros")]
display(data_20.groupby('release_year').profit.sum().sort_values(ascending=False).index[0])
answers['20'] = '2014'    # +

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
data_21 = data.copy()
data_21['release_month'] = data_21.release_date.dt.month
display(data_21.release_month.value_counts().index[0])

answers['21'] = 'Сентябрь'    # +

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
data_22 = data.copy()
data_22['release_month'] = data_22.release_date.dt.month
data_22 = data_22.query(f'release_month in {[6, 7, 8]}')
display(len(data_22.release_month))

answers['22'] = '450'    # +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
data_23 = data.copy()
data_23['release_month'] = data_23.release_date.dt.month
data_23 = data_23.query(f'release_month in {[1, 2, 12]}')
data_23.director = data_23.director.apply(lambda x: str(x).split('|'))
data_23 = data_23.explode('director')

display(data_23.director.value_counts().index[0])

answers['23'] = 'Peter Jackson'    # +

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
data_24 = data.copy()
data_24.production_companies = data_24.production_companies.apply(lambda x: str(x).split('|'))
data_24 = data_24.explode('production_companies')
data_24['title_length'] = data_24.original_title.str.len()
display(data_24.groupby('production_companies').mean()[['title_length']].sort_values(by='title_length',ascending=False).index[0])

answers['24'] = 'Four By Two Productions'    # +

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
data_25 = data.copy()
data_25.production_companies = data_25.production_companies.apply(lambda x: str(x).split('|'))
data_25 = data_25.explode('production_companies')
data_25['overview_length'] = data_25.overview.map(lambda x: len(x.split()))
display(data_25.groupby('production_companies')['overview_length'].mean().sort_values(ascending=False).index[0])

answers['25'] = 'Midnight Picture Show'    # +

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
border = data.quantile(0.99, numeric_only=True)['vote_average']
top_one_percent = data[data.vote_average > border].sort_values(['vote_average'],ascending=False)
display(top_one_percent.original_title)
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'    # +

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
data_27 = data.copy()
data_27.cast = data_27.cast.apply(lambda x: str(x).split('|'))
pairs = data_27.cast.apply(lambda x: list(it.combinations(x, 2)))
pairs = pairs.explode().value_counts(ascending=False)
display(pairs.index[0])

answers['27'] = 'Daniel Radcliffe, Rupert Grint'    # +

('Daniel Radcliffe', 'Rupert Grint')

ВАРИАНТ 2

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27