In [3]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
display(ratings)
movies = pd.read_csv('movies_example.txt', sep = '\t')
display(movies)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [7]:
# # В текущей версии датасета movies значение movieId = 31 встречается дважды, 
# # а movieId = 32 - один раз. Определите, при каких типах объединения датафреймов ratings и movies 
# # по столбцу movieId в итоговом датафрейме останутся оба значения movieId, 
# # при условии использования следующего синтаксиса:
# # ratings.merge(movies, on = 'movieId', how = ...)
# joined = ratings.merge(movies, on='movieId', how='right')
# display(joined)

In [14]:
# # Удаляем дубликаты
# movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
# joined = movies.merge(ratings, how = 'left', on = 'movieId')
# display(movies)
# display(joined)