In [3]:
import pandas as pd

# Информация о наличии товара на складе:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}
# Данные о покупках товаров
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [11]:
# # Объедините получившиеся датафреймы по столбцу item_id с типом outer.
# # Определите, модель с каким item_id есть в статистике продаж purchase_df, 
# # но не учтена на складе (подсказка: подумайте, какой датафрейм должен быть "левым", 
# # а какой "правым", чтобы получить необходимые данные). Введите ответ в виде целого числа.
# # Решите обратную задачу: модель с каким item_id есть на складе, 
# # но не имела ни одной продажи? Введите ответ в виде целого числа.
# joined = items_df.merge(purchase_df, on='item_id', how='outer')
# display(joined)

In [15]:
# # Сформируйте датафрейм merged, в котором в результате объединения purchase_df и items_df останутся модели, 
# # которые учтены на складе и имели продажи. Сколько всего таких моделей?
# joined = items_df.merge(purchase_df, on='item_id', how='inner')
# display(len(joined))

In [28]:
# Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе. Модель
# с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте в виде целого числа.
# Примечание: перемножение столбцов датафрейма можно производить разными способами, но 
# самый простой - перемножение "в лоб" вида df['col1'] = df['col2'] * df['col3'].
joined = items_df.merge(purchase_df, on='item_id', how='inner')
display(joined)
proceeds = joined['stock_count'] * joined['price']
display(proceeds)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

0     750600
1     175890
2    4660400
3     899820
4    1008780
5    1419000
6    5197500
7    4933500
8     684000
dtype: int64